<!-- this is base template with navbar and footer -->
{% load static %}

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Django Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'blog/css/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
{#    <link href="{% static 'blog/css/magnific-popup.css' %}" rel="stylesheet">#}
    <link href="{% static 'blog/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/owl.theme.default.min.css' %}">
{#    <link href="{% static 'blog/css/contact.form.css' %}" rel="stylesheet">#}
    <link href="{% static 'blog/css/agency.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="#" />
</head>
<body>

<!-- navbar -->
{% include 'nav.html' %}

{% block content %}{% endblock %}

 {% include 'footer.html' %}

 {% include 'contact_form.html' %}

<div class="email-bt">
    <button class="btn" data-toggle="modal"  data-target="#contact_form_id"><i class="fa fa-envelope"></i></button>
</div>

</body>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'blog/js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'blog/css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'blog/js/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'blog/js/jqBootstrapValidation.js' %}"></script>
<!--  <script src="js/contact_me.js"></script>-->

<!-- Custom scripts for this template -->
<script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'blog/js/fslightbox.js' %}"></script>

<script src="{% static 'blog/js/contact.form.js' %}"></script>
<script src="{% static 'blog/js/agency.js' %}"></script>
</html>