{% load static %}
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157438207-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157438207-1');
    </script>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'media/img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="{% block description %}Ведущая Анастасия Кись. Узнать подробности о Ведущей и забронировать его на мероприятие можно на сайте!{% endblock description %}">
    <meta name="keywords" content="{% block keywords %}Ведущая Анастасия Кись, ведущиая, лучшая ведущая, ведущая мероприятий, ведущая корпоративов, ведущая свадеб{% endblock keywords %}">
    <meta name="author" content="Ведущая Анастасия Кись">
    <title>{% block title %}Ведущая Анастасия Кись{% endblock title %}</title>

    <link href="{% static 'blog/css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="{% static 'blog/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/owl.theme.default.min.css' %}">
    <link href="{% static 'blog/css/agency.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="#" />
</head>
<body>

{% include 'nav.html' %}

{% block content %}{% endblock %}

 {% include 'footer.html' %}

 {% include 'contact_form.html' %}

<div class="email-bt">
    <button class="btn" data-toggle="modal"  data-target="#contact_form_id"><i class="fa fa-envelope"></i></button>
</div>

</body>
<script src="{% static 'blog/js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'blog/css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'blog/js/jquery-easing/jquery.easing.min.js' %}"></script>

<script src="{% static 'blog/js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'blog/js/fslightbox.js' %}"></script>
<!-- Contact form JavaScript -->
<script src="{% static 'blog/js/contact.form.js' %}"></script>
<!-- My JavaScript -->
<script src="{% static 'blog/js/agency.js' %}"></script>
</html>