{% extends "base.html" %}
{% load static %}

{% block content %}

    <body data-spy="scroll" id="page-top">

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="photo-text">
                <h1 class="intro-heading text-uppercase">Ведущая</h1>
                <div class="intro-lead-in">Анастасия Кись</div>
            </div>
        </div>
    </header>

    <!-- Services -->
    <section class="page-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Обо мне</h2>
                    <h3 class="section-subheading text-muted">Я веду мероприятия</h3>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="about-us-content mb-80">
                        <h3 class="wow fadeInUp">Кись Анастасия</h3>
                        <div class="line wow fadeInUp" data-wow-delay="200ms"
                             style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;"></div>
                        <p>Давайте знакомиться! Меня зовут Ника Константинова! Я профессиональная ведущая.
                            Веду все виды мероприятий. 300 событий, среди них светские и корпоративные мероприятия,
                            тимбилдинги, свадьбы и выездные церемонии, а также работа в дуэте.
                            И все это за 6 лет. Я вела мероприятия для 12 человек и для 3000.
                        </p>
                        <p>
                            В мае 2017 года я провела свой первый международный прямой эфир на весь мир
                            «Allocation Draw» для Евровидения 2017, а потом за 2 недели этого события я
                            провела более 100 пресс конференций со всеми участниками конкурса.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item " controls src="{% static 'media/video/preview.mp4' %}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Мероприятия -->
    <section class="bg-light  page-section" id="ivent">
        <div class="container">
            <div class="row ftco-animate fadeInUp ftco-animated">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Мероприятия</h2>
                    <h3 class="section-subheading text-muted">Мероприятия</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'media/img/team/1.jpg' %}" alt="">
                        <h4 class="service-heading">КОРПОРАТИВЫ</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime
                            quam
                            architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'media/img/team/1.jpg' %}" alt="">
                        <h4 class="service-heading">
                            СВАДЕБНЫЕ
                            СОБЫТИЯ</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime
                            quam
                            architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'media/img/team/1.jpg' %}" alt="">
                        <h4 class="service-heading">ТИМБИЛДИНГ</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime
                            quam
                            architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Портфолио</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>

            <!-- Grid row -->
            <div class="popup-gallery gallery" id="gallery">
                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <a data-fslightbox="gallery" data-type="image"
                       href="{% static 'media/img/portfolio/gallery_1_g0faf5_c_scale,w_960.jpg' %}" rel="alternate">
                        <img class="img-fluid" sizes="(max-width: 960px) 100vw, 960px"
                             srcset="{% static 'media/img/portfolio/gallery_1_g0faf5_c_scale_w_400.jpg' %} 400w,
                                {% static 'media/img/portfolio/gallery_1_g0faf5_c_scale,w_641.jpg' %} 641w,
                                {% static 'media/img/portfolio/gallery_1_g0faf5_c_scale,w_960.jpg' %} 960w"
                             src="{% static 'media/img/portfolio/gallery_1_g0faf5_c_scale_w_400.jpg' %}"
                             alt=""/></a>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <a data-fslightbox="gallery" data-type="image"
                       href="{% static 'media/img/portfolio/gallery_5_e2j9mx_c_scale,w_640.jpg' %}" rel="alternate">
                        <img class="img-fluid"
                             sizes="(max-width: 640px) 100vw, 640px"
                             srcset="{% static 'media/img/portfolio/gallery_5_e2j9mx_c_scale,w_400.jpg' %} 400w,
                                {% static 'media/img/portfolio/gallery_5_e2j9mx_c_scale,w_528.jpg' %} 528w,
                                {% static 'media/img/portfolio/gallery_5_e2j9mx_c_scale,w_640.jpg' %} 640w"
                             src="{% static 'media/img/portfolio/gallery_5_e2j9mx_c_scale,w_640.jpg' %}"
                             alt=""/></a>
                    <!--              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg' %}" alt="Card image cap">-->
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <a data-fslightbox="gallery" data-type="image"
                       href="{% static 'media/img/portfolio/gallery_4_o9egxb_c_scale,w_889.png' %}" rel="">
                        <img class="img-fluid" sizes="(max-width: 1200px) 100vw, 1200px"
                             srcset="{% static 'media/img/portfolio/gallery_4_o9egxb_c_scale,w_400.png' %} 400w,
                                {% static 'media/img/portfolio/gallery_4_o9egxb_c_scale,w_889.png' %} 889w,
                                {% static 'media/img/portfolio/gallery_4_o9egxb_c_scale,w_1200.png' %} 1200w"
                             src="{% static 'media/img/portfolio/gallery_4_o9egxb_c_scale,w_400.png' %}"
                             alt=""></a>
                    <!--              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg' %}" alt="Card image cap">-->
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <a data-fslightbox="gallery" data-type="image"
                       href="{% static 'media/img/portfolio/gallery_3_afyaab_c_scale,w_862.jpg' %}" rel="alternate">
                        <img class="img-fluid"
                             sizes="(max-width: 1200px) 100vw, 1200px"
                             srcset="{% static 'media/img/portfolio/gallery_3_afyaab_c_scale,w_400.jpg' %} 400w,
                                {% static 'media/img/portfolio/gallery_3_afyaab_c_scale,w_862.jpg' %} 862w,
                                {% static 'media/img/portfolio/gallery_3_afyaab_c_scale,w_1200.jpg' %} 1200w"
                             src="{% static 'media/img/portfolio/gallery_3_afyaab_c_scale,w_1200.jpg' %}"
                             alt=""/></a>
                    <!--              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg' %}" alt="Card image cap">-->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <a data-fslightbox="gallery" data-type="image"
                       href="{% static 'media/img/portfolio/gallery_2_b4vxh1_ar_16_9,c_fill,g_auto__c_scale,w_1200.png' %}"
                       rel="alternate">
                        <img class="img-fluid" sizes="(max-width: 2000px) 60vw, 1200px"
                             srcset="{% static 'media/img/portfolio/gallery_2_b4vxh1_ar_16_9,c_fill,g_auto__c_scale,w_400.png' %}, 400w,
                                {% static 'media/img/portfolio/gallery_2_b4vxh1_ar_16_9,c_fill,g_auto__c_scale,w_933.png' %} 933w,
                                {% static 'media/img/portfolio/gallery_2_b4vxh1_ar_16_9,c_fill,g_auto__c_scale,w_1200.png' %} 1200w"
                             src="{% static 'media/img/portfolio/gallery_2_b4vxh1_ar_16_9,c_fill,g_auto__c_scale,w_933.png' %}"
                             alt=""/></a>
                    <!--              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg' %}" alt="Card image cap">-->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <a data-fslightbox="gallery" data-type="image"
                       href="{% static 'media/img/portfolio/gallery_6_k5dakh_c_scale,w_676.jpg' %}" rel="alternate">
                        <img class="img-fluid" sizes="(max-width: 676px) 100vw, 676px"
                             srcset="{% static 'media/img/portfolio/gallery_6_k5dakh_c_scale,w_400.jpg' %} 400w,
                                {% static 'media/img/portfolio/gallery_6_k5dakh_c_scale,w_555.jpg' %} 555w,
                                {% static 'media/img/portfolio/gallery_6_k5dakh_c_scale,w_676.jpg' %} 676w"
                             src="{% static 'media/img/portfolio/gallery_6_k5dakh_c_scale,w_676.jpg' %}"
                             alt=""/></a>
                    <!--              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg' %}" alt="Card image cap">-->
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>


    <!-- Comments -->
    <section class="bg-light page-section" id="comments">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Отзывы клиентов</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>


            <div class="owl-carousel owl-theme owl-img-responsive">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'media/img/team/1.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <h4>Kay Garland</h4>
                            <p class="text-muted">(Инга Раутиаинен юбилей 50 лет)</p>
                            <p>
                                Праздновали юбилей мамы и познакомились с Никой - прекрасной и талантливой ведущей. С
                                первой встречи стало ясно -
                                она наш человек :) Ника - ведущая с большой буквы! От работы с ней все гости получили
                                неимоверное удовольствие :)
                                Еще несколько недель все вспоминали прекрасный праздник. Профессионально, легко,
                                современно, интересно, весело,
                                красиво, задорно, активно и еще много-много можно перечислять. Ощущение было, что Ника
                                член нашей большой семьи,
                                и я думаю - это главный показатель. Теперь мы знаем, кто будет приглашен первым на
                                свадьбу - Ника :)
                                Спасибо огромное!!!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="{% static 'media/img/team/2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <h4>Kay Garland</h4>
                            <p class="text-muted">(Инга Раутиаинен юбилей 50 лет)</p>
                            <p>
                                Праздновали юбилей мамы и познакомились с Никой - прекрасной и талантливой ведущей. С
                                первой встречи стало ясно -
                                она наш человек :) Ника - ведущая с большой буквы! От работы с ней все гости получили
                                неимоверное удовольствие :)
                                Еще несколько недель все вспоминали прекрасный праздник. Профессионально, легко,
                                современно, интересно, весело,
                                красиво, задорно, активно и еще много-много можно перечислять. Ощущение было, что Ника
                                член нашей большой семьи,
                                и я думаю - это главный показатель. Теперь мы знаем, кто будет приглашен первым на
                                свадьбу - Ника :)
                                Спасибо огромное!!!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item"><h4>2</h4></div>
                <div class="item"><h4>3</h4></div>
                <div class="item"><h4>4</h4></div>
                <div class="item"><h4>5</h4></div>
                <div class="item"><h4>6</h4></div>
            </div>

            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
                        laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}