{% extends "base.html" %}
{% load static %}
{% block content %}

{#    <header class="masthead setnav"></header>#}
<section class="page-section">
    <div class="container">
        <div class="row ftco-animate fadeInUp ftco-animated">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Мероприятия</h2>
                <h3 class="section-subheading text-muted">Мероприятия</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
                    <h4 class="service-heading">КОРПОРАТИВЫ</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                        architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
                    <h4 class="service-heading">
                        СВАДЕБНЫЕ
                        СОБЫТИЯ</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                        architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
                    <h4 class="service-heading">ТИМБИЛДИНГ</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                        architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="container mt-5">
        <!--Section: Content-->
        <section class="mx-md-5 dark-grey-text">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card card-cascade wider reverse">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" src="{% static 'media/' %}{{ post.image }}"
                                 alt="Sample image">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">

                            <!-- Title -->
                            <h3 class="font-weight-bold"><a>{{ post.title }}</a></h3>
                            <!-- Data -->
                            <p>Автор: <a><strong>Анастасия Кись</strong></a>, {{ post.pub_date }}</p>
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->
                    <!-- Excerpt -->
                    <div class="mt-5">
                        <p>{{ post.body }}</p>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            <hr>
        </section>
        <!--Section: Content-->
    </div>
{% endblock %}